{% extends "base.html" %}
{% block title %}Agregar Pedido{% endblock %}
{% block css %}{% endblock %}
{% block h1 %}Agregar Pedido{% endblock %}
{% block content %}
<div class="container">
    <form class="formulario" id="agr-ped-form">
        <div class="input" id="tipo-input">
            <label for="tipo-prod">Tipo producto</label>
            <select id="tipo-prod" name="tipo-prod" required>
                <option value="">Seleccione un tipo de producto</option>
                <option value="fruta">Fruta</option>
                <option value="verdura">Verdura</option>
            </select>
        </div>
        
        <div class="input" id="prod-input">
            <label for="prod">Producto</label>
            <select id="prod" name="prod" multiple required></select>
        </div>
        <div class="input" id="desc-input">
            <label for="desc">Descripción</label>
            <textarea id="desc" name="desc" rows="4" cols="50"></textarea>
        </div>
        
        <div class="input" id="reg-input">
            <label for="region">Región</label>
            <select id="region" name="region" required>
                <option value="">Seleccione una región</option>
            </select>
        </div>
        
        <div class="input" id="comuna-input">
            <label for="comuna">Comuna</label>
            <select id="comuna" name="comuna" required>
                <option value="">Seleccione una comuna</option>
            </select>
        </div>

        <div class="input" id="nombre-input">
            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" type="text" size="80" minlength="3" maxlength="80" required>
        </div>
        
        <div class="input" id="email-input">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" size="30" required>
        </div>
    
        <div class="input" id="cel-input">
            <label for="cel">Número de celular</label>
            <input id="cel" name="cel" type="text" size="15">
        </div>
        <!-- TODO: validar datos e informar errores al hacer click en el botón -->
        <div class="botones">
            <button type="button" id="agr-prod">Agregar Pedido</button>
        </div>
    </form>
</div>

<div id="confirmation-dialog" class="confirmation-dialog" >
    <div class="confirmation-content">
        <h3>¿Confirma el registro de este pedido?</h3>
        <div class="confirmation-buttons">
        <button id="confirm-yes">Sí, confirmo</button>
        <button id="confirm-no">No, quiero volver al formulario</button>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/agregar-pedido.js') }}"></script>
{% endblock %}