<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}{% endblock %}
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/stylesheet.css') }}">
    </head>
    <body>
        <header>
            <h1>{% block h1 %}{% endblock %}</h1>
            <nav>
                <a href="{{ url_for('index') }}">Inicio</a>
            </nav>
        </header>
        {% block content %}{% endblock %} {% block javascript %}{% endblock %}
    </body>
</html>