{% extends "base.html" %}
{% block title %}Información Pedido{% endblock %}
{% block css %}{% endblock %}
{% block h1 %}Información Pedido{% endblock %}
{% block content %}
        <table class="info-prod-pedidos">
            <tr>
                <th>Tipo producto</th>
                <td>{{ data_pedido[0] | capitalize }}</td>
            </tr>
            <tr>
                <th>Producto</th>
                <td>{{ data_ped_tipo }}</td>
            </tr>
            <tr class="desc-row">
                <th>Descripción</th>
                <td>{{ data_pedido[1] }}</td>
            </tr>
            <tr>
                <th>Región</th>
                <td>{{ data_reg }}</td>
            </tr>
            <tr>
                <th>Comuna</th>
                <td>{{ data_com }}</td>
            </tr>
            <tr>
                <th>Nombre comprador</th>
                <td>{{ data_pedido[3] }}</td>
            </tr>
            <tr>
                <th>Email comprador</th>
                <td>{{ data_pedido[4] }}</td>
            </tr>
            <tr>
                <th>Número celular comprador</th>
                <td>{{ data_pedido[5] }}</td>
            </tr>
        </table>
        {% endblock %}
        {% block javascript %}{% endblock %}