{% extends "base.html" %}
{% block title %}Información Pedido{% endblock %}
{% block css %}{% endblock %}
{% block h1 %}Información Pedido{% endblock %}
{% block content %}
        <table class="info-prod-pedidos">
            <tr>
                <th>Tipo producto</th>
                <td>Fruta</td>
            </tr>
            <tr>
                <th>Producto</th>
                <td>Frambuesa</td>
            </tr>
            <tr class="desc-row">
                <th>Descripción</th>
                <td>Qué es un completo?</td>
            </tr>
            <tr>
                <th>Región</th>
                <td>Región del Maule</td>
            </tr>
            <tr>
                <th>Comuna</th>
                <td>Molina</td>
            </tr>
            <tr>
                <th>Nombre comprador</th>
                <td>Jorge San Martín</td>
            </tr>
            <tr>
                <th>Email comprador</th>
                <td>jsanmartin@dios.cl</td>
            </tr>
            <tr>
                <th>Número celular comprador</th>
                <td>+569 1111 0000</td>
            </tr>
        </table>
        {% endblock %}
        {% block javascript %}{% endblock %}