{% extends "base.html" %}
{% block title %} Estadísticas {% endblock %}
{% block css %}{% endblock %}
{% block h1 %} Estadísticas {% endblock %}


{% block content %}
<div class="stats-container">
    <figure class="highcharts-figure">
        <div class="chart-container" id="container1"></div>
        <div class="chart-container" id="container2"></div>
    </figure>
</div>
{% endblock %}
{% block javascript %} 
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
{% endblock %}